<% include partials/header %>
<div class="container ">
    <h1>THis is Sercret page : <br> YOU found me </h1> 
    <br><br>
    <h2> Products in Cart : <%= cart %></h2>

    <form action="/cart" method="GET">
    <button class="btn btn-lg btn-success"> View Cart </button>
    <button class="btn btn-lg btn-danger"> Reset Cart</button>
    </form>
    <form action="/reset" method="POST">
      <button class="btn btn-lg btn-danger"> Reset Cart</button>
      </form>
    <br>
    <br>
    <br>
    <hr>

   
<% products.forEach(function(product){  %>
    <div class="card" style="width:250px">
            <img class="card-img-top" src="<%= product.image %>" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title"> <%= product.name %> </h4>
              <p class="card-text"> <%= product.desc %> </p>
              <form action="/add" method="POST">
                <input type="text" value="<%= product._id %>" name="_id" readonly style="display : none;">
                <button class="btn btn-large btn-primary"> Add to cart </button>    
              </form>
            </div>
    </div>

<% }) %>
</div>


<% include partials/footer %>